body {
	margin: 0;
	font-size: 8px;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container {
    background: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.contact {
	position: absolute;
	top: 40px;
	left: 40px;
}
.linkedin {
	margin-left: 20px;
	filter: invert(1);
	height: 2.4em;
	width: auto;
}
h1, h2 {
    color: black;
    font-size: 1.6em;
    z-index: 1;
    text-shadow: 2px 2px 2px white;
    font-weight: bold;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.boxContainer {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 20px;
    width: 25px;
}
.holder {
    position: absolute;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.swish {
    border: 2px solid white;
    border-radius: 100%;
    height: 25vh;
    width: 25vh;
    animation: swish 30s alternate infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 5px 5px 10px 10px white;
    z-index: 0;
}

@media (min-width: 1024px) {
	body {
		font-size: 16px;
	}
	.linkedin {
		height: 1.6em;
	}
}

@keyframes swish {
    0%, 50%, 100% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    25% {
        transform: rotate3d(1, 1, 1, 45deg);
    }
    75% {
        transform: rotate3d(1, 1, 1, -45deg);
    }
}
