.bio {
	color: #dddddd;
	perspective: 50px;
	padding: 50px;
}

.hey {
	animation: fadeUp 1s forwards;
	transform: rotateY(-10deg);
	font-size: 50px

}
.word {
	animation: fadeUp 1s forwards;
	transform: translateX(100vw);
	display: inline-block;
	font-size: 13px
}

@keyframes slide {
	from {

		transform: translateX(100vw);
	}
	to {
		filter: blur(0);
		transform: translateX(0);
	}
}

@keyframes fadeUp {
	from {
		transform: rotateY(-10deg);
	}
	to {
		transform: rotateY(0);
	}
}
