.app {
	background-color: transparent; /*#fff1e5*/
	height: 100vh;
	width: 100%;
	position: relative;
	perspective: 100vh;
}

.top, .bottom, .left, .right {
	background: #fff1e5;
	height: 7px;
	width: 100%;
	position: absolute;
	top: 7px;
	left: 0;
	z-index: 0;
	pointer-events: none;
	transition: transform 1333ms;
}
.top {
	transform: rotateZ(-45deg) scaleX(0) translateY(100px);
}
.top.active {
	transform: rotateZ(0) scaleX(0.8) translateY(0);
}
.bottom {
	bottom: 7px;
	top: initial;
	transform: rotateY(-45deg) scaleX(0) translateY(-100px);
}
.bottom.active {
	transform: rotateY(0) scaleX(0.8) translateY(0);
}
.left {
	height: 100%;
	width: 1px;
	left: 7px;
	top: initial;
	transform: rotateX(-45deg) scaleY(0) translateX(100px);
}
.left.active {
	transform: rotateX(0) scaleY(0.8) translateX(0);
}
.right {
	transform: rotateX(-45deg) scaleY(0) translateX(-100px);
	height: 100%;
	width: 2px;
	left: initial;
	right: 7px;
	top: initial;
}
.right.active {
	transform: rotateX(0) scaleY(0.8) translateX(0);
}

.line {
	background: red;
	width: 100%;
	transform: translateX(100%);
	animation: slide forwards 2333ms;
}

@keyframes slide {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
